<h1>Hey {{name}}!</h1>
You are idiot!!! <i>Jab se tum meri life me aayi ho, my life sucks!</i>



<div class="console-unit" ng-class="{closed: !state}">
	<a href ng-click="toggleState()" class="console-toggler">Toggle</a>
	<p>Whom to blame?</p>
	<input type="text" ng-model="name">
	<p class="secondary-text">Tired of blaming? <a href="#/praise">Praise</a> someone now!</p>
	<br/>
	<br/>
	<p class="secondary-text">Fork on Github: <a href="http://github.com/mohitmamoria/blame-praise" target="_blank">mohitmamoria/blame-praise</a></p>
</div>
